.stream-container {
	padding: 0;
}


.out{
	position: relative;
	display: flex;
}
.Main{
	position: relative;
	width:80rem;
}
	.Header{
		position: relative;
		width: 100%;
		height: 8rem;
	}
		.headerTitle{
			position: relative;
			width: 100%;
			height: 5rem;
			font-size:4em;
			font-weight: 400;
			text-align: center;
		}
		.headerButtons{
			position: relative;
			width: 100%;
			height: 3rem;
		}
		.btnTotal{
			position: relative;
			margin-left: 6rem;
			top:0.3rem;
			width: 50%;
			height: 2.1rem;
		}
		.btns{
			width: 30%;
			height:2rem;
			margin-right: 0.5rem;
		}
			.btnVedioOFF{
				position: flex;
			}
	.cams{
		position: relative;
		width: 100%;
		height: 50rem;
		display:flex;
		flex-wrap: wrap;
		background-color: gainsboro;
	}
	.myCams{
		position: relative;
		margin-top: 1rem;
		width: 100%;
		height: 15rem;
		display:flex;
		
	}
	.mainVideo{
		position: relative;
		margin-left:15%;
		width:20rem;
	}
	.subVideo
	{
		position: relative;
		margin-left:15%;
		width:20rem;

	}
	.others{
		display:flex;
		flex-wrap: wrap;
	}
.Aside{
	position: relative;
	width:35rem;
	top:1rem;
}
.rightSide{
	position: relative;
	width: 100%;
	height: 100%;
}
	.sideNav{
		position: relative;
		height: 5rem;
		
	}
	.AsideMain{
		margin-top:1rem;
		background-color: 858585;
	}
	.sideBoards{
		position: absolute;
		width: 100%;
		height: 50rem;
	}

		.linksUl{
			position: relative;
			margin-left: 10%;
			height: 80%;
			top:3rem;
		}
		.linksLi{
			position: relative;
			top:10%;
			height: 3rem;
			width: 5rem;
			margin-left: 1rem;

		}
	
	.chatBoards{
		
		position: absolute;
		display: block;
		top:50%;
		margin-left: 1.4rem;
		width: 90%;
		height: 24rem;
	}
	.btnRight{
		position: relative;
		width: 100%;	
		top:-1.5rem;

	}
		.btnRightInner{
			position: relative;
			margin-left: 15%;
			top:-5rem;
		}
			.btnR
			{
				position: relative;
				top:10%;
				height: 3rem;
				width: 5rem;
				margin-left: 1rem;
				
			}





.routerBackGorund
{
}