.stream-container {
	padding: 0;
}


.out{
	position: relative;
	width: 90em;
	height: 90em;
}
.Main{
	position: relative;
	width: 80rem;
	background-color: green;
}
.header{
	
}
.Aside{
	position: relative;
	width:20rem;
	background-color: yellow	;
}
.Right{
	position: relative;
}







.linksUl{
	position: relative;
	width: 100%;
}
.linksLi{
	float:left;
	width: 33%;
}
.others{
	display:flex;
	flex-wrap: wrap;
}.myCams{
	display:flex;
	flex-wrap: wrap;
}
.otherVedio{

}
.nextLine{

}

.test{
display:inline-block;
width:1000px;
height:500px;
}