.navbar {
  padding: 30px 30px;
  display: flex;
  justify-content: space-between;
  height: 19px;
  line-height: 19px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
}

a {
  text-decoration: none;
  color: #000;
}

.navbar .navbar__left {
  display: flex;
  flex-direction: row;
}

.navbar .nav-logo {
  margin-right: 18px;
  font-weight: 700;
}

.navbar .nav-list {
  display: inline-block;
}

.nav-list ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar .nav-list li {
  font-weight: 400;
  font-size: 16px;
  float: left;
}
.navbar .nav-list li + li {
  margin-left: 32px;
}

.navbar a:hover,
.navbar a:active {
  font-weight: 700;
}

.navbar .navbar__right {
  display: flex;
  flex-direction: row;
}

.navbar .nav-username {
  margin-left: 10px;
}
