#mypage {
    margin: 50px auto;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 550px;
  width: 1300px;
}

#mypage__left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  box-sizing: border-box;
  padding: 50px 0 30px;

  min-width: 250px;
  height: 100%;
  background-color: #eff0f2;

  border-radius: 8px;
}

#mypage__profile__img {
  display: block;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin: 0 auto 25px;
}
#mypage__profile__name {
  display: block;
  margin: 0 auto;

  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

#mypage__point {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
}
#mypage__point > span {
  font-size: 18px;
}
#mypage__point > span > b {
  font-weight: bolder;
}

#mypage__point ul {
  margin-top: 10px;
}
#mypage__point ul > li {
  margin: 20px 0;
}
#mypage__point ul > li > a:hover {
  font-weight: bold;
}

/* 오른쪽 */
#mypage__right {
  display: flex;
  flex-direction: column;

  height: inherit;

  flex-grow: 1;
  box-sizing: border-box;
  padding-left: 20px;
}
#mypage__right strong {
  display: inline-block;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;

  color: #484848;
}

/* 오른쪽 - 위 */
#mypage__top {
  display: flex;
  height: 50%;
  border-bottom: 1px solid #d9d9d9;
}

#my-study-time__number {
}
#my-study-time__number > strong {
  margin-bottom: 30px;
}
#my-study-time__graph {
  margin-left: 20px;
  height: inherit;
}
#my-study-time__graph > strong {
  margin-left: 35px;
}

/* width: 270px; */
/* 오른쪽 - 아래 */
#mypage__bottom {
    display: flex;
      height: 50%;
}

#mypage__penalty-wrap {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
#mypage__penalty > strong {
  margin-bottom: 35px;
}
/* 내 공부시간 그래프 */
#mypage__penalty > ul {
  padding: 25px 50px;
  background: #e0e2e6;
  border-radius: 8px;
  width: 240px;
}

#mypage__penalty > ul > li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#mypage__penalty > ul span {
  font-weight: bold;
}

#mypage__penalty > ul small {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;

  display: flex;
  align-items: center;
  letter-spacing: 0.75px;

  color: #858585;
}

#mypage__setting {
  text-align: end;
  border-left: 1px dotted #eff0f2;
  min-width: 160px;
}
#mypage__setting > strong {
  margin-bottom: 35px;
}
#Links {
  font-size: 24px;
  line-height: 40px;
}
#Links a:hover {
  font-weight: bold;
}
