#borders {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#clock {
  margin-top: 20px;
  flex-basis: 50%;
  text-align: center;
}
#study-time__title {
  display: inline-block;
  font-size: 48px;
  line-height: 60px;
  font-weight: 700;
}
#study-time__time {
  font-size: 48px;
  line-height: 48px;
  font-weight: 700;
}

#study-rule {
  flex-basis: 50%;
  padding-top: 20px;
  text-align: center;
}
#study-rule__title {
  font-size: 24px;
  font-weight: 400;
}
#study-rule__rule {
  margin-top: 20px;
  font-size: 18px;
  font-weight: 500;
}
#study-rule__penalty {
  font-weight: 700;
}
