.kakaopay-form-frame{
    margin-top: 2.5%;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    height : 800px;
    flex-direction: row;
    justify-content: space-between;
}
.point-my-point{
    display: flex;
    flex-basis: 60%;
    flex-direction: column;
}
.point-my-ownpoint{
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.point-my-pointvalue{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 30%;
    margin-bottom: 10%;
}
.point-my-pointtitle{
    font-size: 48px;
}
#point-my-ownpoint-mine{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 5%;
}
.point-my-pointdes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.point-watchme{
    margin-top: 5%;
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
}
.point-my-pointdet{
    flex-basis: 70%;
    flex-direction: column;
    display: flex;
}
#point-my-ownpoint-mine1{
    font-size: 30px;
    flex-basis: 75%;
    margin-bottom: 25px;
}
#point-my-ownpoint-value1{
    text-align: center;
    font-size: 25px;
    flex-basis: 25%;
}
#point-my-ownpoint-value2{
    text-align: center;
    font-size: 20px;
    flex-basis: 25%;
}
#point-my-ownpoint-mine2{
    font-size: 20px;
    flex-basis: 75%;
}
#point-watchme-text{
    margin-right :21%;
    margin-top: 15px;
    font-size: 15px;
}
#point-watchme-title{    
    font-size: 25px;
    margin-bottom: 25px;
}
.point-log{
    display:flex;
    flex-direction: column;
}
.point-list{
    font-size: 30px;
    margin-bottom: 5%;
}
.point-table{
    display: flex;
    flex-direction: column;
    font-size: 20px;
}
.point-table>table{
    border-collapse: separate;
    border-spacing: 0 15px;
    text-align: center;
}

.point-cash-title{
    font-size: 30px;
    margin-bottom: 15%;
}
.selection{
    font-size: 25px;
    margin-bottom: 15%;
}