.room {
  display: flex;
  flex-direction: column;
}

.room .nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.room .body {
  display: flex;
  flex-direction: row;
}

.body {
  display: flex;
  height: 80vh;
}

.body .webrtc {
  flex-grow: 1;
  flex-wrap: wrap;
}

.body .side {
  width: 250px;
}

.room .footer {
  display: flex;
  justify-content: flex-end;
}

.footer img + img {
  margin-left: 5px;
}
