/* 배치 */

.stream-container {
  padding: 0;
}

#main-container {
  padding-bottom: 80px;
}

#session-body {
  height: 80vh;
  display: flex;
  flex-direction: row;
}

#video-grid {
  width: min-content;

  display: flex;
  flex-direction: row;
  justify-content: space-around left;

  flex-grow: 1;
  flex-wrap: wrap;
}

#session-side {
  width: 350px;
  height: 100%;
  background-color: #bdbdbd;
}

#main-video {
  display: flex;
  flex-direction: column;
  max-width: 75vw;
}

#video-container {
  margin-left: 20px;
  max-width: 20vw;
}

#session-header {
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 10px;
}

#session-title {
  display: inline-block;
}

#buttonLeaveSession {
  width: 147px;
  height: 35px;
  border: 1px solid #c2c6cc;
  border-radius: 20px;

  font-weight: 700;
  font-size: 16px;
  line-height: 35px;
  text-align: center;
}
#buttonOwnerSetting {
  width: 100px;
  height: 35px;
  border: 1px solid #c2c6cc;
  border-radius: 20px;

  font-weight: 700;
  font-size: 16px;
  line-height: 35px;
  text-align: center;
}

#buttonSwitchCamera {
  margin-top: 10px;
  width: 100px;
}

#video-container video {
  position: relative;
  float: left;
  cursor: pointer;
}

#video-container p {
  display: inline-block;
  background: #f8f8f8;
  padding-right: 5px;
  padding-left: 5px;
  color: #777777;
  font-weight: bold;
  border-bottom-right-radius: 4px;
}

video {
  width: 100%;
  height: auto;
}

#main-video p {
  position: absolute;
  display: inline-block;
  background: #f8f8f8;
  padding-right: 5px;
  padding-left: 5px;
  left: 0;
  font-size: 22px;
  color: #777777;
  font-weight: bold;
  border-bottom-right-radius: 4px;
}

#main-video video {
  cursor: initial;
}

#session img {
  width: 100%;
  height: auto;
  display: inline-block;
  object-fit: contain;
  vertical-align: baseline;
}

#session #video-container img {
  position: relative;
  float: left;
  width: 50%;
  cursor: pointer;
  object-fit: cover;
  height: 180px;
}

/* xs ans md screen resolutions*/

@media screen and (max-width: 991px) {
  .vertical-center {
    width: 85%;
    padding-top: 10px;
    top: 57%;
  }
}
