.signup {
  box-sizing: border-box;
  width: 1200px;
  height: 700px;
  margin: 57px auto 57px;
  padding: 0 30px;

  background-color: #ffffff;
  border: #000;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.signup .signup-top {
  height: 70px;

  line-height: 70px;
  font-weight: 700;
  font-size: 18px;
}

.signup .signup-top__word {
  padding-left: 10px;
}

.signup .signup-top::after {
  display: block;
  content: "";
  width: 1140px;
  height: 1px;
  background: #e0e2e6;
  margin: 0 auto;
}

.signup-form {
  display: flex;
  flex-direction: row;
  height: 550px;
  margin: 50px 0 0 0;
}

.signup-left {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: relative;
}

.signup-left .signup-left-image {
  position: absolute;
  top: 0%;

  width: 300px;
  height: 300px;
  background: transparent;
  border-radius: 50%;

  text-indent: -9999px;
  cursor: pointer;
  z-index: 100;
}
#blank-layer-signup {
  position: absolute;
  top: 0%;

  width: 300px;
  height: 300px;
  background-color: #d9d9d9;
  border-radius: 50%;
  z-index: 1;
}
.signup-uploaded-image {
  position: absolute;
  top: 0%;

  width: 300px;
  height: 300px;
  border-radius: 50%;
  z-index: 10;
}

.signup-left .signup-left-addimage {
  position: absolute;
  bottom: 30%;

  font-weight: 700;
  font-size: 20px;
  line-height: 54px;
  text-align: center;

  color: rgba(0, 0, 0, 0.7);
}

.signup-right {
  width: 60%;
  border-left: 1px solid #e0e2e6;

  box-sizing: border-box;
  padding: 0 60px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.signup-right input,
.signup-right select {
  width: 535px;
  height: 54px;

  box-sizing: border-box;
  padding: 10px 10px 10px 29px;

  border: 1px solid #c2c6cc;
  border-radius: 30px;
}

.signup-right .line {
  display: flex;
  flex-direction: row;
  margin-bottom: 25px;
}

.signup-right .line.dup-check {
  position: relative;
}
.signup-right .line.password-check {
  position: relative;
}
.dup-check .dup-icon {
  position: absolute;
  right: 130px;
  top: 10px;
}
.password-check .dup-icon {
  position: absolute;
  right: 23px;
  top: 11px;
}

.line .short {
  width: 450px;
  margin-right: 20px;
}

.line .half {
  width: 260px;
  margin: 0 8px;
}

.dup {
  background-color: #9a9a9a;
  border-style: hidden;
  border-radius: 30px;
  height: 54px;
  width: 20%;
  opacity: 0.8;

  cursor: pointer;
}
.dup:hover {
  opacity: 1;
}

.submitting {
  width: 535px;
  height: 54px;

  border: 1px solid #c2c6cc;
  border-radius: 30px;
  background-color: #9a9a9a;

  color: #ffffff;
  font-weight: 700;
  font-size: 20px;

  opacity: 0.8;
}
.submitting:hover {
  opacity: 1;
}
.submitting:active {
  transform: scale(0.98);
}

.signup input:focus {
  border: 3px solid #c2c6cc;
}
